### Pandas

In [10]:
import pandas as pd
import numpy as np
import io

dt = pd.read_csv("C:/Users/hp/Downloads/economie_data.csv")

In [ ]:
#Se documenter sur les paramettres de la fonction "pandas.read_csv"

In [ ]:
#Se documenter sur les paramettres de la fonction "pandas.read_excel"

In [ ]:
#afficher les types de données dans chaque columns

In [14]:
dt.head(3)
#la fonction head() permet d'afficher les n 1eres lignes d'une FataFrame par défaut 5

,Period,Inst_sector,Inst_sector_code,Descriptor,SNA08TRANS,Asset_liability_code,Values
0,2007.03,Non-corporate business enterprises,121,ISA Saving (net),B08N000,ISA,0
1,2007.03,Non-corporate business enterprises,121,Statistical discrepancy - net lending (+) / ne...,B090000,A000000,0
2,2007.03,Non-corporate business enterprises,121,Total net transactions in non-financial assets,B091N00,AN00000,0

In [22]:
dt[["Period","Values"]].head()

    Period Values
0  2007.03      0
1  2007.03      0
2  2007.03      0
3  2007.03      0
4  2007.03      0

In [38]:
dt.shape

(31312, 7)

In [44]:
dt.columns

Index(['Period', 'Inst_sector', 'Inst_sector_code', 'Descriptor', 'SNA08TRANS',
       'Asset_liability_code', 'Values'],
      dtype='object')

In [48]:
#Compter le nombre d'élément d'une liste

In [ ]:
#Compter quelque dernières lignes d'une DataFrame

### List

In [52]:
malist = ['josue','ezechiel','esaie','dodo','julie','viviane']

In [54]:
malist

['josue', 'ezechiel', 'esaie', 'dodo', 'julie', 'viviane']

In [78]:
print('josue','ezechiel','esaie', end="#", sep="@")
#la difference entre le end="" et sep=""

josue@ezechiel@esaie#

In [80]:
print(malist)

['josue', 'ezechiel', 'esaie', 'dodo', 'julie', 'viviane']

In [88]:
for i in malist:
    print(i)

josue
ezechiel
esaie
dodo
julie
viviane

In [92]:
malist.append('Marie')

['josue', 'ezechiel', 'esaie', 'dodo', 'julie', 'viviane', 'Marie', 'Marie']

In [ ]:
#Afficher les éléments d'une liste de façon distinct

In [94]:
malist.remove('Marie')

In [96]:
malist

['josue', 'ezechiel', 'esaie', 'dodo', 'julie', 'viviane', 'Marie']

In [98]:
malist.pop(3)

'dodo'

In [100]:
malist

['josue', 'ezechiel', 'esaie', 'julie', 'viviane', 'Marie']

In [102]:
malist.append("esaie")

In [104]:
malist

['josue', 'ezechiel', 'esaie', 'julie', 'viviane', 'Marie', 'esaie']

In [106]:
malist.count("esaie")

2

In [ ]:
#le nombre d'élément d'une liste

In [ ]:
#Ajouter un élément dans une liste à une position n donnée

In [117]:
listcomplement=["Daniel","Rebecca","Alice"]

In [119]:
for i in listcomplement:
    malist.append(i)

In [121]:
malist

['josue',
 'ezechiel',
 'esaie',
 'julie',
 'viviane',
 'Marie',
 'esaie',
 'Daniel',
 'Rebecca',
 'Alice']

In [123]:
list1 = ['jo','ko','ok']

In [125]:
malist.extend(list1)

In [127]:
malist

['josue',
 'ezechiel',
 'esaie',
 'julie',
 'viviane',
 'Marie',
 'esaie',
 'Daniel',
 'Rebecca',
 'Alice',
 'jo',
 'ko',
 'ok']

### Dictionnaire

### Tuple

### SET